body {
  background-color: rgb(30, 47, 85, 1);
  font-family: arial;
  font-size: 14px;
  color: white;
}

div.ejemplo {
  margin: 15px;
}

div.ejemplo.uwu {
  background-color: turquoise;
  width: 300px;
  height: 300px;
  text-align: center;
}
button.xd {
  

padding-left: 50px;
margin-top: 50px;
border-top: 500px;
  background-color: rgb(255, 255, 255);
  width: 80%;

  outline: none;
  border-radius: 30px;

  transition: 0.5s;
}

button.xd:hover {
  width: 200px;
  height: 100px;
  border-radius: 30px;
  background-color: violet;
  cursor: pointer;
  outline: none;
}
