html,
body {
  background-image: url(https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2017/06/05161407/iStock-625653516.jpg);
  background-position-y: -200px;

  color: white;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
}

div.Banner {
  height: 100px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(124, 124, 124, 0) 0%,
    rgb(124, 124, 124, 1) 5%,
    rgba(247, 251, 255, 1) 35%,
    rgba(247, 251, 255, 1) 65%,
    rgb(124, 124, 124, 1) 95%,
    rgba(124, 124, 124, 0) 100%
  );
  display: block;
  border-bottom: 2px solid #2c2c2c;
}

div.bannerLogo {
  background-color: black;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  float: left;
  margin-left: 30%;
  border-radius: 100%;
  background-image: url("/pw1_gpo3_proyect_guillermo-y-giselle/Recursos/LogoPDLR2.jpg");
}

img.logo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}

div.bannerTitle {
  margin-left: 10px;
  color: rgb(230, 230, 230);
  height: 100%;
  float: left;
  line-height: 100px;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgb(32, 32, 32);
  font-size: 35px;
}

/*--------------------------Left Navbar CSS--------------------------*/
div.left_navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  float: left;
  height: 400px;
  text-align: center;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 8%;
}

div.userBlock {
  background-color: rgb(88, 188, 255);

  display: inline-block;

  margin-top: 15px;
  width: 85%;
  height: 100px;

  border-radius: 15px;
}

div.userBlock div.userImg {
  margin-left: 10%;
  margin-top: 12px;

  width: 75px;
  height: 75px;
  border-radius: 100%;
  float: left;
}
img#userlogo {
  width: 75px;
  height: 75px;
}

div.userBlock div.userName {
  background-color: crimson;
  height: 40px;
  width: 120px;
  float: right;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-right: 10px;
  line-height: 35px;
}

div.userIconBlock {
  background-color: darkolivegreen;
  height: 40px;
  width: 120px;
  float: right;
  margin-right: 10px;
  line-height: 35px;
}
div.row_ {
  appearance: button;
  display: inline-block;
  margin-top: 8px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(88, 188, 255);
  height: 35px;
  width: 85%;
  line-height: 35px;
  border-radius: 8px;
}
div.row_:hover {
  background-color: rgb(184, 208, 245);
}

/*--------------------------Middle Block CSS--------------------------*/
div.mid_Block {
  background-color: rgba(255, 255, 255, 0.5);
  width: 600px;
  height: 580px;
  overflow: hidden;
  margin-top: 15px;
  margin-left: 40px;
  text-align: center;
  border-radius: 25px;
  float: left;
}

div.searchBar {
  position: relative;
  left: 44%;
  margin: 3%;
  border-radius: 40px;
  width: 50%;
  height: 30px;
  background-color: rgb(255, 255, 255);
}

input.search-txt {
  border: none;
  outline: none;
  background: none;
  width: 80%;
}

.fas.fa-search {
  color: rgba(0, 0, 0, 0.5);

  border-radius: 100%;
  width: 30px;
  height: 30px;

  line-height: 30px;
  transition: 0.5s;
}
.fas.fa-search:hover {
  color: rgba(255, 255, 255);
  background-color: rgb(104, 104, 104, 0.5);
  border-radius: 100%;
  line-height: 30px;
}

div.newsPost {
  display: inline-block;
  width: 94%;
  height: 85%;
  border-radius: 20px;
  
  overflow: auto;
  overflow-x: hidden;
  
}
div.newsPost::-webkit-scrollbar{
  display: none;
}
img.postImg {
  margin: 10px;

  border-radius: 25px;
  width: 540px;
  height: 300px;
}
p.postTexto_Titulo {
  color: white;
  text-align: justify;
  font-size: 25px;
  margin-left: 10px;
  width: 96.2%;
  height: 42px;
  border-radius: 25px;
  text-align: center;
  text-shadow: 0px 2px 3px rgba(150, 150, 150, 1);

  background-color: rgb(161, 161, 161, 0.8);
}

p.postTexto_Cont {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  color: black;
  text-align: justify;
  width: 97%;
  margin-left: 8px;
  border-bottom: 2px solid rgb(143, 143, 143);
}
.Btn {
  position: relative;
  left: -22%;
  margin-top: -10px !important;
  margin: 15px;
  color: rgb(61, 61, 61);
  border-radius: 100%;
  
  width: 30px!important;
  height: 40px;

  line-height: 28px;
  transition: 0.5s;
}
input.commentBtn{
  float: right;
  margin-right: 20px;
  border-radius: 30px;
  outline: none;
  background-color: rgb(88, 188, 255);
  color: white;
  height: 40px;
}

.Btn:hover {
 
  color: white;

}
i.fas.fa-thumbs-up:hover,
i.fas.fa-thumbs-down:hover,
i.fas.fa-comment:hover,
i.fas.fa-star:hover {
  color: white;

}

textarea#CommentBox {
  border-radius: 30px;
  width: 97%;
  height: 150px;

  margin-top: 10px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  resize: none;
  outline: none;
}
