#red {
    color: white;
    }
    :root {
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    }
    html, body {
        height: auto;
    }
    html {
        font-family: sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        position: relative;
    }
    
    .text-center {
        text-align: center!important;
    }
    
    
    body {
        display: block;
        margin: 8px;
    }
    
    .form-signin {
        width: 100%;
        max-width: 330px;
        margin-left: 23%;
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    user agent stylesheet
    form {
        display: block;
        margin-top: 0em;
    }
    
    body {
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: left;
        background-color: #1a2e44;
        margin-top: 5%;
    }
    
    img.logo{
        margin-left: 13%;
        border-radius: 100%;
        
        transform: scale(1.2);
        
    }
    div.CO{
    position: relative;
    margin-top: 5%;
    color: gray;
    }
    
    button.SignIn_btn{
        appearance: button;
        
        cursor: pointer;
        color: white;
        background-color:rgb(70, 253, 116);
        box-sizing: border-box;
        margin-top: 15px;
        width: 70%;
        height: 35px;
        font: 400 16px Arial;
        border: 1px solid transparent;
        overflow: visible;
        border-radius: 5px;
    
    }

    button.changeImg_btn{
        position: relative;
        right: 50%;
        bottom: 125px;

        appearance: button;
        
        cursor: pointer;
        color: white;
        background-color:rgb(70, 253, 116);
        box-sizing: border-box;
        margin-top: 0px;
        width: 100px;
        height: 50px;
        font: 400 16px Arial;
        border: 1px solid transparent;
        overflow: visible;
        border-radius: 5px;
    }
    
    p.CRdate{
        color: #6c757d!important;
        margin-top: 3rem!important;
        box-sizing: border-box;
        display: block;
        margin-right: 25%;
        text-align: center!important;
    }
    
    #UserImg_btn{
        
        position: absolute;
        left: 60%;
        bottom: 10%;
    }
    img.ChumelImg{
        position: relative;
        bottom: 170px;
        height: 180px;
        width: 180px;
    }
    #division{
        position: absolute;
    
        bottom: 10%;
        left: 50%;
    
        border-radius: 100%;
        background-color: white;
        width: 3px;
        height: 450px;
    }

    a{
        color: rgb(70, 253, 116);
    }